<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-255</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 2</key>
      <dict>
        <key>position</key>
        <integer>-164</integer>
        <key>width</key>
        <integer>8</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 3</key>
      <dict>
        <key>position</key>
        <integer>-56</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 4</key>
      <dict>
        <key>position</key>
        <integer>315</integer>
        <key>width</key>
        <integer>8</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>394</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>434</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 2</key>
      <dict>
        <key>position</key>
        <integer>626</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 3</key>
      <dict>
        <key>position</key>
        <integer>660</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 4</key>
      <dict>
        <key>position</key>
        <integer>710</integer>
        <key>width</key>
        <integer>5</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>y: 40</key>
      <dict>
        <key>width</key>
        <integer>40</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>38</key>
          <integer>2</integer>
          <key>63</key>
          <integer>3</integer>
          <key>88</key>
          <integer>4</integer>
          <key>113</key>
          <integer>5</integer>
          <key>138</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 74</key>
      <dict>
        <key>width</key>
        <integer>74</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>20</key>
          <integer>2</integer>
          <key>33</key>
          <integer>3</integer>
          <key>46</key>
          <integer>4</integer>
          <key>58</key>
          <integer>5</integer>
          <key>75</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>20</key>
          <integer>2</integer>
          <key>33</key>
          <integer>3</integer>
          <key>46</key>
          <integer>4</integer>
          <key>58</key>
          <integer>5</integer>
          <key>68</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quoteright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>quoteleft</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>fraction</string>
    <string>yen</string>
    <string>florin</string>
    <string>section</string>
    <string>currency</string>
    <string>quotesingle</string>
    <string>quotedblleft</string>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>endash</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>paragraph</string>
    <string>bullet</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>guillemotright</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>questiondown</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>dieresis</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>emdash</string>
    <string>AE</string>
    <string>ordfeminine</string>
    <string>Lslash</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>ordmasculine</string>
    <string>ae</string>
    <string>dotlessi</string>
    <string>lslash</string>
    <string>oslash</string>
    <string>oe</string>
    <string>germandbls</string>
    <string>onesuperior</string>
    <string>logicalnot</string>
    <string>uni00B5</string>
    <string>trademark</string>
    <string>Eth</string>
    <string>onehalf</string>
    <string>plusminus</string>
    <string>Thorn</string>
    <string>onequarter</string>
    <string>divide</string>
    <string>brokenbar</string>
    <string>degree</string>
    <string>thorn</string>
    <string>threequarters</string>
    <string>twosuperior</string>
    <string>registered</string>
    <string>minus</string>
    <string>eth</string>
    <string>multiply</string>
    <string>threesuperior</string>
    <string>copyright</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Ntilde</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
    <string>Scaron</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
    <string>scaron</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>zcaron</string>
    <string>R_p</string>
    <string>zero.slash</string>
    <string>i.dot</string>
    <string>uni021A_h</string>
    <string>Tcaron_h</string>
    <string>f_f</string>
    <string>f_i</string>
    <string>f_l</string>
    <string>twodotenleader</string>
    <string>onedotenleader</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>a.sc</string>
    <string>b.sc</string>
    <string>c.sc</string>
    <string>d.sc</string>
    <string>e.sc</string>
    <string>f.sc</string>
    <string>g.sc</string>
    <string>h.sc</string>
    <string>i.sc</string>
    <string>j.sc</string>
    <string>k.sc</string>
    <string>l.sc</string>
    <string>m.sc</string>
    <string>n.sc</string>
    <string>o.sc</string>
    <string>p.sc</string>
    <string>q.sc</string>
    <string>r.sc</string>
    <string>s.sc</string>
    <string>t.sc</string>
    <string>u.sc</string>
    <string>v.sc</string>
    <string>w.sc</string>
    <string>x.sc</string>
    <string>y.sc</string>
    <string>z.sc</string>
    <string>germandbls.sc</string>
    <string>ae.sc</string>
    <string>oe.sc</string>
    <string>eth.sc</string>
    <string>oslash.sc</string>
    <string>thorn.sc</string>
    <string>ampersand.sc</string>
    <string>exclam.sc</string>
    <string>exclamdown.sc</string>
    <string>question.sc</string>
    <string>questiondown.sc</string>
    <string>aacute.sc</string>
    <string>abreve.sc</string>
    <string>acircumflex.sc</string>
    <string>adieresis.sc</string>
    <string>agrave.sc</string>
    <string>amacron.sc</string>
    <string>aogonek.sc</string>
    <string>aring.sc</string>
    <string>atilde.sc</string>
    <string>cacute.sc</string>
    <string>ccaron.sc</string>
    <string>ccedilla.sc</string>
    <string>dcaron.sc</string>
    <string>dcroat.sc</string>
    <string>eacute.sc</string>
    <string>ecaron.sc</string>
    <string>ecircumflex.sc</string>
    <string>edieresis.sc</string>
    <string>edotaccent.sc</string>
    <string>egrave.sc</string>
    <string>emacron.sc</string>
    <string>eogonek.sc</string>
    <string>colonmonetary</string>
    <string>gbreve.sc</string>
    <string>gcommaaccent.sc</string>
    <string>iacute.sc</string>
    <string>icircumflex.sc</string>
    <string>idieresis.sc</string>
    <string>igrave.sc</string>
    <string>imacron.sc</string>
    <string>iogonek.sc</string>
    <string>dotlessi.sc</string>
    <string>kcommaaccent.sc</string>
    <string>lacute.sc</string>
    <string>lcaron.sc</string>
    <string>figuredash</string>
    <string>lcommaaccent.sc</string>
    <string>lslash.sc</string>
    <string>nacute.sc</string>
    <string>ncaron.sc</string>
    <string>ncommaaccent.sc</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>ntilde.sc</string>
    <string>oacute.sc</string>
    <string>ocircumflex.sc</string>
    <string>odieresis.sc</string>
    <string>ograve.sc</string>
    <string>ohungarumlaut.sc</string>
    <string>omacron.sc</string>
    <string>otilde.sc</string>
    <string>racute.sc</string>
    <string>rcaron.sc</string>
    <string>rcommaaccent.sc</string>
    <string>sacute.sc</string>
    <string>scaron.sc</string>
    <string>scedilla.sc</string>
    <string>scommaaccent.sc</string>
    <string>tcaron.sc</string>
    <string>uni021B.sc</string>
    <string>uacute.sc</string>
    <string>ucircumflex.sc</string>
    <string>udieresis.sc</string>
    <string>ugrave.sc</string>
    <string>uhungarumlaut.sc</string>
    <string>umacron.sc</string>
    <string>uogonek.sc</string>
    <string>uring.sc</string>
    <string>yacute.sc</string>
    <string>ydieresis.sc</string>
    <string>zacute.sc</string>
    <string>zcaron.sc</string>
    <string>zdotaccent.sc</string>
    <string>acute.sc</string>
    <string>breve.sc</string>
    <string>caron.sc</string>
    <string>cedilla.sc</string>
    <string>circumflex.sc</string>
    <string>space_uni0326.sc</string>
    <string>dieresis.sc</string>
    <string>dotaccent.sc</string>
    <string>grave.sc</string>
    <string>hungarumlaut.sc</string>
    <string>macron.sc</string>
    <string>ogonek.sc</string>
    <string>ring.sc</string>
    <string>tilde.sc</string>
    <string>zero.oldstyle</string>
    <string>one.oldstyle</string>
    <string>two.oldstyle</string>
    <string>three.oldstyle</string>
    <string>four.oldstyle</string>
    <string>five.oldstyle</string>
    <string>six.oldstyle</string>
    <string>seven.oldstyle</string>
    <string>eight.oldstyle</string>
    <string>nine.oldstyle</string>
    <string>Abreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Gbreve</string>
    <string>uni0122</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>uni0136</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>uni013B</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>uni0145</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>Sacute</string>
    <string>uni015E</string>
    <string>uni0218</string>
    <string>Tcaron</string>
    <string>uni021A</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Idotaccent</string>
    <string>abreve</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>ecaron</string>
    <string>edotaccent</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>gbreve</string>
    <string>uni0123</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>uni0137</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>uni013C</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>uni0146</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni0157</string>
    <string>sacute</string>
    <string>uni015F</string>
    <string>uni0219</string>
    <string>tcaron</string>
    <string>uni021B</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>uni2206</string>
    <string>uni2126</string>
    <string>pi</string>
    <string>franc</string>
    <string>lira</string>
    <string>peseta</string>
    <string>Euro</string>
    <string>dollar.oldstyle</string>
    <string>estimated</string>
    <string>partialdiff</string>
    <string>product</string>
    <string>summation</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>cent.oldstyle</string>
    <string>percent.oldstyle</string>
    <string>perthousand.oldstyle</string>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
    <string>uniF634</string>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>four.taboldstyle</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>a.superior</string>
    <string>b.superior</string>
    <string>d.superior</string>
    <string>e.superior</string>
    <string>h.superior</string>
    <string>i.superior</string>
    <string>l.superior</string>
    <string>m.superior</string>
    <string>n.superior</string>
    <string>o.superior</string>
    <string>r.superior</string>
    <string>s.superior</string>
    <string>t.superior</string>
    <string>zero.superior</string>
    <string>one.superior</string>
    <string>two.superior</string>
    <string>three.superior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>period.superior</string>
    <string>comma.superior</string>
    <string>dollar.superior</string>
    <string>cent.superior</string>
    <string>hyphen.superior</string>
    <string>parenleft.superior</string>
    <string>parenright.superior</string>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>period.inferior</string>
    <string>comma.inferior</string>
    <string>dollar.inferior</string>
    <string>cent.inferior</string>
    <string>hyphen.inferior</string>
    <string>parenleft.inferior</string>
    <string>parenright.inferior</string>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>period.numerator</string>
    <string>comma.numerator</string>
    <string>dollar.numerator</string>
    <string>cent.numerator</string>
    <string>hyphen.numerator</string>
    <string>parenleft.numerator</string>
    <string>parenright.numerator</string>
    <string>zero.denominator</string>
    <string>one.denominator</string>
    <string>two.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
    <string>period.denominator</string>
    <string>comma.denominator</string>
    <string>dollar.denominator</string>
    <string>cent.denominator</string>
    <string>hyphen.denominator</string>
    <string>parenleft.denominator</string>
    <string>parenright.denominator</string>
    <string>at.cap</string>
    <string>emdash.cap</string>
    <string>endash.cap</string>
    <string>exclamdown.cap</string>
    <string>guillemotleft.cap</string>
    <string>guillemotright.cap</string>
    <string>guilsinglleft.cap</string>
    <string>guilsinglright.cap</string>
    <string>hyphen.cap</string>
    <string>questiondown.cap</string>
    <string>braceleft.cap</string>
    <string>braceright.cap</string>
    <string>bracketleft.cap</string>
    <string>bracketright.cap</string>
    <string>parenleft.cap</string>
    <string>parenright.cap</string>
    <string>periodcentered.cap</string>
    <string>space_uni0326</string>
    <string>acute.cap</string>
    <string>breve.cap</string>
    <string>caron.cap</string>
    <string>cedilla.cap</string>
    <string>circumflex.cap</string>
    <string>dieresis.cap</string>
    <string>dotaccent.cap</string>
    <string>grave.cap</string>
    <string>hungarumlaut.cap</string>
    <string>macron.cap</string>
    <string>ogonek.cap</string>
    <string>ring.cap</string>
    <string>tilde.cap</string>
    <string>A.sc</string>
    <string>c_t</string>
    <string>f_j</string>
    <string>f_f_j</string>
    <string>T_h</string>
    <string>a.swash</string>
    <string>e.swash</string>
    <string>n.swash</string>
    <string>r.swash</string>
    <string>t.swash</string>
    <string>z.swash</string>
    <string>Q.alt</string>
    <string>B.sc</string>
    <string>C.sc</string>
    <string>D.sc</string>
    <string>exclam.titling</string>
    <string>quotedbl.titling</string>
    <string>dollar.titling</string>
    <string>percent.titling</string>
    <string>ampersand.titling</string>
    <string>quoteright.titling</string>
    <string>parenleft.titling</string>
    <string>parenright.titling</string>
    <string>asterisk.titling</string>
    <string>comma.titling</string>
    <string>hyphen.titling</string>
    <string>period.titling</string>
    <string>slash.titling</string>
    <string>zero.titling</string>
    <string>one.titling</string>
    <string>two.titling</string>
    <string>three.titling</string>
    <string>four.titling</string>
    <string>five.titling</string>
    <string>six.titling</string>
    <string>seven.titling</string>
    <string>eight.titling</string>
    <string>nine.titling</string>
    <string>semicolon.titling</string>
    <string>question.titling</string>
    <string>A.titling</string>
    <string>B.titling</string>
    <string>C.titling</string>
    <string>D.titling</string>
    <string>E.titling</string>
    <string>F.titling</string>
    <string>G.titling</string>
    <string>H.titling</string>
    <string>I.titling</string>
    <string>J.titling</string>
    <string>K.titling</string>
    <string>L.titling</string>
    <string>M.titling</string>
    <string>N.titling</string>
    <string>O.titling</string>
    <string>P.titling</string>
    <string>Q.titling</string>
    <string>R.titling</string>
    <string>S.titling</string>
    <string>T.titling</string>
    <string>U.titling</string>
    <string>V.titling</string>
    <string>W.titling</string>
    <string>X.titling</string>
    <string>Y.titling</string>
    <string>Z.titling</string>
    <string>bracketleft.titling</string>
    <string>bracketright.titling</string>
    <string>quoteleft.titling</string>
    <string>braceleft.titling</string>
    <string>braceright.titling</string>
    <string>exclamdown.titling</string>
    <string>cent.titling</string>
    <string>sterling.titling</string>
    <string>yen.titling</string>
    <string>florin.titling</string>
    <string>quotesingle.titling</string>
    <string>quotedblleft.titling</string>
    <string>guillemotleft.titling</string>
    <string>guilsinglleft.titling</string>
    <string>guilsinglright.titling</string>
    <string>periodcentered.titling</string>
    <string>bullet.titling</string>
    <string>quotesinglbase.titling</string>
    <string>quotedblbase.titling</string>
    <string>quotedblright.titling</string>
    <string>guillemotright.titling</string>
    <string>ellipsis.titling</string>
    <string>questiondown.titling</string>
    <string>grave.titling</string>
    <string>acute.titling</string>
    <string>circumflex.titling</string>
    <string>tilde.titling</string>
    <string>macron.titling</string>
    <string>breve.titling</string>
    <string>dotaccent.titling</string>
    <string>dieresis.titling</string>
    <string>ring.titling</string>
    <string>cedilla.titling</string>
    <string>hungarumlaut.titling</string>
    <string>ogonek.titling</string>
    <string>caron.titling</string>
    <string>AE.titling</string>
    <string>ordfeminine.titling</string>
    <string>Lslash.titling</string>
    <string>Oslash.titling</string>
    <string>OE.titling</string>
    <string>ordmasculine.titling</string>
    <string>onesuperior.titling</string>
    <string>uni00B5.titling</string>
    <string>trademark.titling</string>
    <string>Eth.titling</string>
    <string>Thorn.titling</string>
    <string>twosuperior.titling</string>
    <string>registered.titling</string>
    <string>threesuperior.titling</string>
    <string>copyright.titling</string>
    <string>Aacute.titling</string>
    <string>Acircumflex.titling</string>
    <string>Adieresis.titling</string>
    <string>Agrave.titling</string>
    <string>Aring.titling</string>
    <string>Atilde.titling</string>
    <string>Ccedilla.titling</string>
    <string>Eacute.titling</string>
    <string>Ecircumflex.titling</string>
    <string>Edieresis.titling</string>
    <string>Egrave.titling</string>
    <string>Iacute.titling</string>
    <string>Icircumflex.titling</string>
    <string>Idieresis.titling</string>
    <string>Igrave.titling</string>
    <string>Ntilde.titling</string>
    <string>Oacute.titling</string>
    <string>Ocircumflex.titling</string>
    <string>Odieresis.titling</string>
    <string>Ograve.titling</string>
    <string>Otilde.titling</string>
    <string>Scaron.titling</string>
    <string>Uacute.titling</string>
    <string>Ucircumflex.titling</string>
    <string>Udieresis.titling</string>
    <string>Ugrave.titling</string>
    <string>Yacute.titling</string>
    <string>Ydieresis.titling</string>
    <string>Zcaron.titling</string>
    <string>E.sc</string>
    <string>Abreve.titling</string>
    <string>Amacron.titling</string>
    <string>Aogonek.titling</string>
    <string>Cacute.titling</string>
    <string>Ccaron.titling</string>
    <string>Dcaron.titling</string>
    <string>Dcroat.titling</string>
    <string>Ecaron.titling</string>
    <string>Edotaccent.titling</string>
    <string>Emacron.titling</string>
    <string>Eogonek.titling</string>
    <string>Gbreve.titling</string>
    <string>Gcommaaccent.titling</string>
    <string>Imacron.titling</string>
    <string>Iogonek.titling</string>
    <string>Kcommaaccent.titling</string>
    <string>Lcommaaccent.titling</string>
    <string>Nacute.titling</string>
    <string>Ncaron.titling</string>
    <string>Ncommaaccent.titling</string>
    <string>Ohungarumlaut.titling</string>
    <string>Omacron.titling</string>
    <string>Racute.titling</string>
    <string>Rcaron.titling</string>
    <string>Rcommaaccent.titling</string>
    <string>Sacute.titling</string>
    <string>Scedilla.titling</string>
    <string>Scommaaccent.titling</string>
    <string>Tcaron.titling</string>
    <string>uni021A.titling</string>
    <string>Uhungarumlaut.titling</string>
    <string>Umacron.titling</string>
    <string>Uogonek.titling</string>
    <string>Uring.titling</string>
    <string>Zacute.titling</string>
    <string>Zdotaccent.titling</string>
    <string>Idotaccent.titling</string>
    <string>Euro.titling</string>
    <string>Lacute.titling</string>
    <string>t.altswash</string>
    <string>Euro.oldstyle</string>
    <string>Lcaron.titling</string>
    <string>colon.titling</string>
    <string>Q.alttitling</string>
    <string>Euro.fitted</string>
    <string>caron.alttitling</string>
    <string>F.sc</string>
    <string>G.sc</string>
    <string>H.sc</string>
    <string>I.sc</string>
    <string>J.sc</string>
    <string>K.sc</string>
    <string>L.sc</string>
    <string>M.sc</string>
    <string>N.sc</string>
    <string>O.sc</string>
    <string>P.sc</string>
    <string>Q.sc</string>
    <string>R.sc</string>
    <string>S.sc</string>
    <string>T.sc</string>
    <string>U.sc</string>
    <string>V.sc</string>
    <string>W.sc</string>
    <string>X.sc</string>
    <string>Y.sc</string>
    <string>Z.sc</string>
    <string>Dcroat.sc</string>
    <string>Oslash.sc</string>
    <string>Eth.sc</string>
    <string>Thorn.sc</string>
    <string>AE.sc</string>
    <string>OE.sc</string>
    <string>Aacute.sc</string>
    <string>Abreve.sc</string>
    <string>Acircumflex.sc</string>
    <string>Adieresis.sc</string>
    <string>Agrave.sc</string>
    <string>Amacron.sc</string>
    <string>Aogonek.sc</string>
    <string>Aring.sc</string>
    <string>Atilde.sc</string>
    <string>Cacute.sc</string>
    <string>Ccaron.sc</string>
    <string>Ccedilla.sc</string>
    <string>Dcaron.sc</string>
    <string>Eacute.sc</string>
    <string>Ecaron.sc</string>
    <string>Ecircumflex.sc</string>
    <string>Edieresis.sc</string>
    <string>Edotaccent.sc</string>
    <string>Egrave.sc</string>
    <string>Emacron.sc</string>
    <string>Eogonek.sc</string>
    <string>Gbreve.sc</string>
    <string>Gcommaaccent.sc</string>
    <string>Iacute.sc</string>
    <string>Icircumflex.sc</string>
    <string>Idieresis.sc</string>
    <string>Idotaccent.sc</string>
    <string>Igrave.sc</string>
    <string>Imacron.sc</string>
    <string>Iogonek.sc</string>
    <string>Kcommaaccent.sc</string>
    <string>Lacute.sc</string>
    <string>Lcaron.sc</string>
    <string>Lcommaaccent.sc</string>
    <string>Lslash.sc</string>
    <string>Nacute.sc</string>
    <string>Ncaron.sc</string>
    <string>Ncommaaccent.sc</string>
    <string>Ntilde.sc</string>
    <string>Oacute.sc</string>
    <string>Ocircumflex.sc</string>
    <string>Odieresis.sc</string>
    <string>Ograve.sc</string>
    <string>Ohungarumlaut.sc</string>
    <string>Omacron.sc</string>
    <string>Otilde.sc</string>
    <string>Racute.sc</string>
    <string>Rcaron.sc</string>
    <string>Rcommaaccent.sc</string>
    <string>Sacute.sc</string>
    <string>Scaron.sc</string>
    <string>Scedilla.sc</string>
    <string>Scommaaccent.sc</string>
    <string>Tcaron.sc</string>
    <string>uni021A.sc</string>
    <string>Uacute.sc</string>
    <string>Ucircumflex.sc</string>
    <string>Udieresis.sc</string>
    <string>Ugrave.sc</string>
    <string>Uhungarumlaut.sc</string>
    <string>Umacron.sc</string>
    <string>Uogonek.sc</string>
    <string>Uring.sc</string>
    <string>Yacute.sc</string>
    <string>Ydieresis.sc</string>
    <string>Zacute.sc</string>
    <string>Zcaron.sc</string>
    <string>Zdotaccent.sc</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni0162.sc</string>
    <string>uni0163.sc</string>
    <string>uni00AD</string>
    <string>uni00A0</string>
    <string>uni02C9</string>
    <string>uni2215</string>
    <string>uni2219</string>
    <string>uni2010</string>
    <string>uni2113</string>
    <string>bullet.001</string>
    <string>bullet.002</string>
    <string>bullet.003</string>
    <string>emdash.alt</string>
    <string>quoteright.alt</string>
    <string>i.dotsc</string>
    <string>slash.frac</string>
    <string>space.frac</string>
    <string>uni00A0.frac</string>
    <string>fi.sc</string>
    <string>fl.sc</string>
    <string>one.superiortitling</string>
    <string>three.superiortitling</string>
    <string>two.superiortitling</string>
    <string>Euro.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>colonmonetary.taboldstyle</string>
    <string>dollar.taboldstyle</string>
    <string>florin.taboldstyle</string>
    <string>numbersign.taboldstyle</string>
    <string>sterling.taboldstyle</string>
    <string>yen.taboldstyle</string>
    <string>space_uni0326.titling</string>
    <string>uni0162.titling</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
    <string>uni20B9.taboldstyle</string>
    <string>uni20BA.taboldstyle</string>
  </array>
</dict>
</plist>
