<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-255</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 2</key>
      <dict>
        <key>position</key>
        <integer>-165</integer>
        <key>width</key>
        <integer>8</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 3</key>
      <dict>
        <key>position</key>
        <integer>-56</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 4</key>
      <dict>
        <key>position</key>
        <integer>320</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>400</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>428</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 2</key>
      <dict>
        <key>position</key>
        <integer>626</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 3</key>
      <dict>
        <key>position</key>
        <integer>660</integer>
        <key>width</key>
        <integer>16</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 4</key>
      <dict>
        <key>position</key>
        <integer>710</integer>
        <key>width</key>
        <integer>5</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>y: 53</key>
      <dict>
        <key>width</key>
        <integer>53</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>29</key>
          <integer>2</integer>
          <key>48</key>
          <integer>3</integer>
          <key>67</key>
          <integer>4</integer>
          <key>85</key>
          <integer>5</integer>
          <key>104</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 130</key>
      <dict>
        <key>width</key>
        <integer>130</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>11</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>34</key>
          <integer>5</integer>
          <key>43</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 143</key>
      <dict>
        <key>width</key>
        <integer>143</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>11</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>34</key>
          <integer>5</integer>
          <key>39</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quoteright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>quoteleft</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>fraction</string>
    <string>yen</string>
    <string>florin</string>
    <string>section</string>
    <string>currency</string>
    <string>quotesingle</string>
    <string>quotedblleft</string>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>endash</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>paragraph</string>
    <string>bullet</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>guillemotright</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>questiondown</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>dieresis</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>emdash</string>
    <string>AE</string>
    <string>ordfeminine</string>
    <string>Lslash</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>ordmasculine</string>
    <string>ae</string>
    <string>dotlessi</string>
    <string>lslash</string>
    <string>oslash</string>
    <string>oe</string>
    <string>germandbls</string>
    <string>onesuperior</string>
    <string>logicalnot</string>
    <string>uni00B5</string>
    <string>trademark</string>
    <string>Eth</string>
    <string>onehalf</string>
    <string>plusminus</string>
    <string>Thorn</string>
    <string>onequarter</string>
    <string>divide</string>
    <string>brokenbar</string>
    <string>degree</string>
    <string>thorn</string>
    <string>threequarters</string>
    <string>twosuperior</string>
    <string>registered</string>
    <string>minus</string>
    <string>eth</string>
    <string>multiply</string>
    <string>threesuperior</string>
    <string>copyright</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Ntilde</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
    <string>Scaron</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
    <string>scaron</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>zcaron</string>
    <string>R_p</string>
    <string>zero.slash</string>
    <string>i.dot</string>
    <string>uni021A_h</string>
    <string>twodotenleader</string>
    <string>onedotenleader</string>
    <string>Tcaron_h</string>
    <string>f_f</string>
    <string>f_i</string>
    <string>f_l</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>zero.oldstyle</string>
    <string>one.oldstyle</string>
    <string>two.oldstyle</string>
    <string>three.oldstyle</string>
    <string>four.oldstyle</string>
    <string>five.oldstyle</string>
    <string>six.oldstyle</string>
    <string>seven.oldstyle</string>
    <string>eight.oldstyle</string>
    <string>nine.oldstyle</string>
    <string>dollar.oldstyle</string>
    <string>cent.oldstyle</string>
    <string>percent.oldstyle</string>
    <string>perthousand.oldstyle</string>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>colonmonetary</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>figuredash</string>
    <string>four.taboldstyle</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>a.superior</string>
    <string>b.superior</string>
    <string>d.superior</string>
    <string>e.superior</string>
    <string>h.superior</string>
    <string>i.superior</string>
    <string>l.superior</string>
    <string>m.superior</string>
    <string>n.superior</string>
    <string>o.superior</string>
    <string>r.superior</string>
    <string>s.superior</string>
    <string>t.superior</string>
    <string>zero.superior</string>
    <string>one.superior</string>
    <string>two.superior</string>
    <string>three.superior</string>
    <string>Abreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Gbreve</string>
    <string>uni0122</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>uni0136</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>uni013B</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>uni0145</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>Sacute</string>
    <string>uni015E</string>
    <string>uni0218</string>
    <string>Tcaron</string>
    <string>uni021A</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Idotaccent</string>
    <string>abreve</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>ecaron</string>
    <string>edotaccent</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>gbreve</string>
    <string>uni0123</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>uni0137</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>uni013C</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>uni0146</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni0157</string>
    <string>sacute</string>
    <string>uni015F</string>
    <string>uni0219</string>
    <string>tcaron</string>
    <string>uni021B</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>uni2206</string>
    <string>uni2126</string>
    <string>pi</string>
    <string>franc</string>
    <string>lira</string>
    <string>peseta</string>
    <string>Euro</string>
    <string>four.superior</string>
    <string>estimated</string>
    <string>partialdiff</string>
    <string>product</string>
    <string>summation</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>period.superior</string>
    <string>comma.superior</string>
    <string>dollar.superior</string>
    <string>cent.superior</string>
    <string>hyphen.superior</string>
    <string>parenleft.superior</string>
    <string>parenright.superior</string>
    <string>zero.inferior</string>
    <string>uniF634</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>period.inferior</string>
    <string>comma.inferior</string>
    <string>dollar.inferior</string>
    <string>cent.inferior</string>
    <string>hyphen.inferior</string>
    <string>parenleft.inferior</string>
    <string>parenright.inferior</string>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>period.numerator</string>
    <string>comma.numerator</string>
    <string>dollar.numerator</string>
    <string>cent.numerator</string>
    <string>hyphen.numerator</string>
    <string>parenleft.numerator</string>
    <string>parenright.numerator</string>
    <string>zero.denominator</string>
    <string>one.denominator</string>
    <string>two.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
    <string>period.denominator</string>
    <string>comma.denominator</string>
    <string>dollar.denominator</string>
    <string>cent.denominator</string>
    <string>hyphen.denominator</string>
    <string>parenleft.denominator</string>
    <string>parenright.denominator</string>
    <string>at.cap</string>
    <string>emdash.cap</string>
    <string>endash.cap</string>
    <string>exclamdown.cap</string>
    <string>guillemotleft.cap</string>
    <string>guillemotright.cap</string>
    <string>guilsinglleft.cap</string>
    <string>guilsinglright.cap</string>
    <string>hyphen.cap</string>
    <string>questiondown.cap</string>
    <string>braceleft.cap</string>
    <string>braceright.cap</string>
    <string>bracketleft.cap</string>
    <string>bracketright.cap</string>
    <string>parenleft.cap</string>
    <string>parenright.cap</string>
    <string>periodcentered.cap</string>
    <string>space_uni0326</string>
    <string>acute.cap</string>
    <string>breve.cap</string>
    <string>caron.cap</string>
    <string>cedilla.cap</string>
    <string>circumflex.cap</string>
    <string>dieresis.cap</string>
    <string>dotaccent.cap</string>
    <string>grave.cap</string>
    <string>hungarumlaut.cap</string>
    <string>macron.cap</string>
    <string>ogonek.cap</string>
    <string>ring.cap</string>
    <string>tilde.cap</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>f_j</string>
    <string>f_f_j</string>
    <string>T_h</string>
    <string>uni00AD</string>
    <string>uni00A0</string>
    <string>uni02C9</string>
    <string>Euro.fitted</string>
    <string>uni2215</string>
    <string>Euro.oldstyle</string>
    <string>uni2219</string>
    <string>uni2010</string>
    <string>uni2113</string>
    <string>bullet.001</string>
    <string>bullet.002</string>
    <string>bullet.003</string>
    <string>emdash.alt</string>
    <string>slash.frac</string>
    <string>space.frac</string>
    <string>uni00A0.frac</string>
    <string>Euro.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>colonmonetary.taboldstyle</string>
    <string>dollar.taboldstyle</string>
    <string>florin.taboldstyle</string>
    <string>numbersign.taboldstyle</string>
    <string>sterling.taboldstyle</string>
    <string>yen.taboldstyle</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
    <string>uni20B9.taboldstyle</string>
    <string>uni20BA.taboldstyle</string>
  </array>
</dict>
</plist>
