<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Abreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
  </array>
  <key>@MMK_L_C</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
    <string>Cacute</string>
    <string>Ccaron</string>
  </array>
  <key>@MMK_L_D</key>
  <array>
    <string>D</string>
    <string>Eth</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
  </array>
  <key>@MMK_L_E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
  </array>
  <key>@MMK_L_G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>uni0122</string>
  </array>
  <key>@MMK_L_I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Idotaccent</string>
  </array>
  <key>@MMK_L_K</key>
  <array>
    <string>K</string>
    <string>uni0136</string>
  </array>
  <key>@MMK_L_L</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>uni013B</string>
  </array>
  <key>@MMK_L_N</key>
  <array>
    <string>N</string>
    <string>Ntilde</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>uni0145</string>
  </array>
  <key>@MMK_L_O</key>
  <array>
    <string>O</string>
    <string>Oslash</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
  </array>
  <key>@MMK_L_R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
  </array>
  <key>@MMK_L_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
    <string>Sacute</string>
    <string>uni015E</string>
    <string>uni0218</string>
  </array>
  <key>@MMK_L_T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni021A</string>
  </array>
  <key>@MMK_L_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
  </array>
  <key>@MMK_L_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_L_Z</key>
  <array>
    <string>Z</string>
    <string>Zcaron</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
  </array>
  <key>@MMK_L_a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
    <string>abreve</string>
    <string>amacron</string>
    <string>aogonek</string>
  </array>
  <key>@MMK_L_c</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
    <string>cacute</string>
    <string>ccaron</string>
  </array>
  <key>@MMK_L_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
  </array>
  <key>@MMK_L_e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>ecaron</string>
    <string>edotaccent</string>
    <string>emacron</string>
    <string>eogonek</string>
  </array>
  <key>@MMK_L_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>uni0123</string>
  </array>
  <key>@MMK_L_i</key>
  <array>
    <string>i</string>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
  </array>
  <key>@MMK_L_k</key>
  <array>
    <string>k</string>
    <string>uni0137</string>
  </array>
  <key>@MMK_L_l</key>
  <array>
    <string>l</string>
    <string>lslash</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>uni013C</string>
  </array>
  <key>@MMK_L_n</key>
  <array>
    <string>n</string>
    <string>ntilde</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>uni0146</string>
  </array>
  <key>@MMK_L_o</key>
  <array>
    <string>o</string>
    <string>oslash</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
  </array>
  <key>@MMK_L_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni0157</string>
  </array>
  <key>@MMK_L_s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
    <string>sacute</string>
    <string>uni015F</string>
    <string>uni0219</string>
  </array>
  <key>@MMK_L_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni021B</string>
  </array>
  <key>@MMK_L_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
  </array>
  <key>@MMK_L_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>@MMK_L_z</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
    <string>zacute</string>
    <string>zdotaccent</string>
  </array>
  <key>@MMK_R_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Abreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
  </array>
  <key>@MMK_R_C</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
    <string>Cacute</string>
    <string>Ccaron</string>
  </array>
  <key>@MMK_R_E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
  </array>
  <key>@MMK_R_G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>uni0122</string>
  </array>
  <key>@MMK_R_I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Idotaccent</string>
  </array>
  <key>@MMK_R_O</key>
  <array>
    <string>O</string>
    <string>Oslash</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
  </array>
  <key>@MMK_R_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
    <string>Sacute</string>
    <string>uni015E</string>
    <string>uni0218</string>
  </array>
  <key>@MMK_R_T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni021A</string>
  </array>
  <key>@MMK_R_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
  </array>
  <key>@MMK_R_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_R_a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
    <string>abreve</string>
    <string>amacron</string>
    <string>aogonek</string>
  </array>
  <key>@MMK_R_c</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
    <string>cacute</string>
    <string>ccaron</string>
  </array>
  <key>@MMK_R_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
  </array>
  <key>@MMK_R_e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>ecaron</string>
    <string>edotaccent</string>
    <string>emacron</string>
    <string>eogonek</string>
  </array>
  <key>@MMK_R_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>uni0123</string>
  </array>
  <key>@MMK_R_i</key>
  <array>
    <string>i</string>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
  </array>
  <key>@MMK_R_k</key>
  <array>
    <string>k</string>
    <string>uni0137</string>
  </array>
  <key>@MMK_R_l</key>
  <array>
    <string>l</string>
    <string>lslash</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>uni013C</string>
  </array>
  <key>@MMK_R_n</key>
  <array>
    <string>n</string>
    <string>ntilde</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>uni0146</string>
  </array>
  <key>@MMK_R_o</key>
  <array>
    <string>o</string>
    <string>oslash</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
  </array>
  <key>@MMK_R_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>uni0157</string>
  </array>
  <key>@MMK_R_s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
    <string>sacute</string>
    <string>uni015F</string>
    <string>uni0219</string>
  </array>
  <key>@MMK_R_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni021B</string>
  </array>
  <key>@MMK_R_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
  </array>
  <key>@MMK_R_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>@MMK_R_z</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
    <string>zacute</string>
    <string>zdotaccent</string>
  </array>
  <key>aalt1</key>
  <array>
    <string>endash</string>
    <string>emdash</string>
    <string>hyphen.cap</string>
    <string>hyphen.superior</string>
    <string>hyphen.inferior</string>
    <string>hyphen.numerator</string>
    <string>hyphen.denominator</string>
    <string>figuredash</string>
    <string>emdash.alt</string>
    <string>minus</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>numbersign</string>
    <string>percent</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>b</string>
    <string>d</string>
    <string>e</string>
    <string>h</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>exclamdown</string>
    <string>sterling</string>
    <string>yen</string>
    <string>florin</string>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>endash</string>
    <string>periodcentered</string>
    <string>guillemotright</string>
    <string>perthousand</string>
    <string>questiondown</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>dieresis</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>emdash</string>
    <string>percent.oldstyle</string>
    <string>perthousand.oldstyle</string>
    <string>colonmonetary</string>
    <string>uni015E</string>
    <string>uni015F</string>
    <string>space_uni0326</string>
    <string>colonmonetary.taboldstyle</string>
    <string>florin.taboldstyle</string>
    <string>numbersign.taboldstyle</string>
    <string>sterling.taboldstyle</string>
    <string>yen.taboldstyle</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
    <string>uni20B9.taboldstyle</string>
    <string>uni20BA.taboldstyle</string>
  </array>
  <key>aalt3</key>
  <array>
    <string>numbersign.taboldstyle</string>
    <string>percent.oldstyle</string>
    <string>at.cap</string>
    <string>bracketleft.cap</string>
    <string>bracketright.cap</string>
    <string>b.superior</string>
    <string>d.superior</string>
    <string>e.superior</string>
    <string>h.superior</string>
    <string>l.superior</string>
    <string>m.superior</string>
    <string>n.superior</string>
    <string>r.superior</string>
    <string>s.superior</string>
    <string>t.superior</string>
    <string>braceleft.cap</string>
    <string>braceright.cap</string>
    <string>exclamdown.cap</string>
    <string>sterling.taboldstyle</string>
    <string>yen.taboldstyle</string>
    <string>florin.taboldstyle</string>
    <string>guillemotleft.cap</string>
    <string>guilsinglleft.cap</string>
    <string>guilsinglright.cap</string>
    <string>endash.cap</string>
    <string>periodcentered.cap</string>
    <string>guillemotright.cap</string>
    <string>perthousand.oldstyle</string>
    <string>questiondown.cap</string>
    <string>grave.cap</string>
    <string>acute.cap</string>
    <string>circumflex.cap</string>
    <string>tilde.cap</string>
    <string>macron.cap</string>
    <string>breve.cap</string>
    <string>dotaccent.cap</string>
    <string>dieresis.cap</string>
    <string>ring.cap</string>
    <string>cedilla.cap</string>
    <string>hungarumlaut.cap</string>
    <string>ogonek.cap</string>
    <string>caron.cap</string>
    <string>emdash.cap</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>colonmonetary.taboldstyle</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uniF634</string>
    <string>colonmonetary</string>
    <string>florin</string>
    <string>numbersign</string>
    <string>sterling</string>
    <string>yen</string>
    <string>uni20B9.taboldstyle</string>
    <string>uni20BA.taboldstyle</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
  </array>
  <key>aalt4</key>
  <array>
    <string>dollar</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>a</string>
    <string>i</string>
    <string>o</string>
    <string>cent</string>
    <string>bullet</string>
    <string>zero.oldstyle</string>
    <string>one.oldstyle</string>
    <string>two.oldstyle</string>
    <string>three.oldstyle</string>
    <string>four.oldstyle</string>
    <string>five.oldstyle</string>
    <string>six.oldstyle</string>
    <string>seven.oldstyle</string>
    <string>eight.oldstyle</string>
    <string>nine.oldstyle</string>
    <string>dollar.oldstyle</string>
    <string>cent.oldstyle</string>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>four.taboldstyle</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>Euro</string>
    <string>hyphen.cap</string>
    <string>Euro.oldstyle</string>
    <string>Euro.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>dollar.taboldstyle</string>
  </array>
  <key>case1</key>
  <array>
    <string>parenleft</string>
    <string>parenright</string>
    <string>hyphen</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>exclamdown</string>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>endash</string>
    <string>periodcentered</string>
    <string>guillemotright</string>
    <string>questiondown</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>dieresis</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>emdash</string>
    <string>space_uni0326</string>
  </array>
  <key>case2</key>
  <array>
    <string>parenleft.cap</string>
    <string>parenright.cap</string>
    <string>hyphen.cap</string>
    <string>at.cap</string>
    <string>bracketleft.cap</string>
    <string>bracketright.cap</string>
    <string>braceleft.cap</string>
    <string>braceright.cap</string>
    <string>exclamdown.cap</string>
    <string>guillemotleft.cap</string>
    <string>guilsinglleft.cap</string>
    <string>guilsinglright.cap</string>
    <string>endash.cap</string>
    <string>periodcentered.cap</string>
    <string>guillemotright.cap</string>
    <string>questiondown.cap</string>
    <string>grave.cap</string>
    <string>acute.cap</string>
    <string>circumflex.cap</string>
    <string>tilde.cap</string>
    <string>macron.cap</string>
    <string>breve.cap</string>
    <string>dotaccent.cap</string>
    <string>dieresis.cap</string>
    <string>ring.cap</string>
    <string>cedilla.cap</string>
    <string>hungarumlaut.cap</string>
    <string>ogonek.cap</string>
    <string>caron.cap</string>
    <string>emdash.cap</string>
    <string>uniF634</string>
  </array>
  <key>class787</key>
  <array>
    <string>space</string>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>period.numerator</string>
    <string>comma.numerator</string>
    <string>dollar.numerator</string>
    <string>cent.numerator</string>
    <string>hyphen.numerator</string>
    <string>parenleft.numerator</string>
    <string>parenright.numerator</string>
    <string>uni00A0</string>
  </array>
  <key>class788</key>
  <array>
    <string>space.frac</string>
    <string>zero.denominator</string>
    <string>one.denominator</string>
    <string>two.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
    <string>period.denominator</string>
    <string>comma.denominator</string>
    <string>dollar.denominator</string>
    <string>cent.denominator</string>
    <string>hyphen.denominator</string>
    <string>parenleft.denominator</string>
    <string>parenright.denominator</string>
    <string>uni00A0.frac</string>
  </array>
  <key>cpsp1</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>AE</string>
    <string>Lslash</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>Eth</string>
    <string>Thorn</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Ntilde</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
    <string>Scaron</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>Abreve</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Gbreve</string>
    <string>uni0122</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>uni0136</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>uni013B</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>uni0145</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>Sacute</string>
    <string>uni015E</string>
    <string>uni0218</string>
    <string>Tcaron</string>
    <string>uni021A</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Idotaccent</string>
    <string>at.cap</string>
    <string>emdash.cap</string>
    <string>endash.cap</string>
    <string>exclamdown.cap</string>
    <string>guillemotleft.cap</string>
    <string>guillemotright.cap</string>
    <string>guilsinglleft.cap</string>
    <string>guilsinglright.cap</string>
    <string>hyphen.cap</string>
    <string>questiondown.cap</string>
    <string>braceleft.cap</string>
    <string>braceright.cap</string>
    <string>bracketleft.cap</string>
    <string>bracketright.cap</string>
    <string>parenleft.cap</string>
    <string>parenright.cap</string>
    <string>periodcentered.cap</string>
    <string>uni0162</string>
  </array>
  <key>dnom1</key>
  <array>
    <string>dollar.denominator</string>
    <string>parenleft.denominator</string>
    <string>parenright.denominator</string>
    <string>comma.denominator</string>
    <string>hyphen.denominator</string>
    <string>period.denominator</string>
    <string>zero.denominator</string>
    <string>one.denominator</string>
    <string>two.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
    <string>cent.denominator</string>
  </array>
  <key>frac1</key>
  <array>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
  </array>
  <key>frac2</key>
  <array>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>period.numerator</string>
    <string>comma.numerator</string>
    <string>dollar.numerator</string>
    <string>cent.numerator</string>
    <string>hyphen.numerator</string>
    <string>parenleft.numerator</string>
    <string>parenright.numerator</string>
  </array>
  <key>frac3</key>
  <array>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>zero.denominator</string>
    <string>one.denominator</string>
    <string>two.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
  </array>
  <key>frac4</key>
  <array>
    <string>fraction</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>zero.denominator</string>
    <string>one.denominator</string>
    <string>two.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
    <string>period.denominator</string>
    <string>comma.denominator</string>
    <string>dollar.denominator</string>
    <string>cent.denominator</string>
    <string>hyphen.denominator</string>
    <string>parenleft.denominator</string>
    <string>parenright.denominator</string>
    <string>uni2215</string>
    <string>slash.frac</string>
  </array>
  <key>lnum1</key>
  <array>
    <string>percent.oldstyle</string>
    <string>perthousand.oldstyle</string>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>four.taboldstyle</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>Euro.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>colonmonetary.taboldstyle</string>
    <string>dollar.taboldstyle</string>
    <string>florin.taboldstyle</string>
    <string>numbersign.taboldstyle</string>
    <string>sterling.taboldstyle</string>
    <string>yen.taboldstyle</string>
    <string>uni20B9.taboldstyle</string>
    <string>uni20BA.taboldstyle</string>
  </array>
  <key>lnum2</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>Euro</string>
    <string>cent</string>
    <string>colonmonetary</string>
    <string>dollar</string>
    <string>florin</string>
    <string>numbersign</string>
    <string>sterling</string>
    <string>yen</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
  </array>
  <key>numr1</key>
  <array>
    <string>dollar</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>cent</string>
  </array>
  <key>numr2</key>
  <array>
    <string>dollar.numerator</string>
    <string>parenleft.numerator</string>
    <string>parenright.numerator</string>
    <string>comma.numerator</string>
    <string>hyphen.numerator</string>
    <string>period.numerator</string>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>cent.numerator</string>
  </array>
  <key>onum1</key>
  <array>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>cent</string>
    <string>sterling</string>
    <string>yen</string>
    <string>florin</string>
    <string>perthousand</string>
    <string>colonmonetary</string>
    <string>Euro</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
  </array>
  <key>onum2</key>
  <array>
    <string>numbersign.taboldstyle</string>
    <string>dollar.taboldstyle</string>
    <string>percent.oldstyle</string>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>four.taboldstyle</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>sterling.taboldstyle</string>
    <string>yen.taboldstyle</string>
    <string>florin.taboldstyle</string>
    <string>perthousand.oldstyle</string>
    <string>colonmonetary.taboldstyle</string>
    <string>Euro.taboldstyle</string>
    <string>uni20B9.taboldstyle</string>
    <string>uni20BA.taboldstyle</string>
  </array>
  <key>pnum1</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>four.taboldstyle</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>Euro</string>
    <string>Euro.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>dollar.taboldstyle</string>
  </array>
  <key>pnum2</key>
  <array>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
    <string>zero.oldstyle</string>
    <string>one.oldstyle</string>
    <string>two.oldstyle</string>
    <string>three.oldstyle</string>
    <string>four.oldstyle</string>
    <string>five.oldstyle</string>
    <string>six.oldstyle</string>
    <string>seven.oldstyle</string>
    <string>eight.oldstyle</string>
    <string>nine.oldstyle</string>
    <string>Euro.fitted</string>
    <string>Euro.oldstyle</string>
    <string>cent.oldstyle</string>
    <string>dollar.oldstyle</string>
  </array>
  <key>sinf1</key>
  <array>
    <string>dollar.inferior</string>
    <string>parenleft.inferior</string>
    <string>parenright.inferior</string>
    <string>comma.inferior</string>
    <string>hyphen.inferior</string>
    <string>period.inferior</string>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>cent.inferior</string>
  </array>
  <key>sups1</key>
  <array>
    <string>a</string>
    <string>b</string>
    <string>d</string>
    <string>e</string>
    <string>h</string>
    <string>i</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
  </array>
  <key>sups2</key>
  <array>
    <string>a.superior</string>
    <string>b.superior</string>
    <string>d.superior</string>
    <string>e.superior</string>
    <string>h.superior</string>
    <string>i.superior</string>
    <string>l.superior</string>
    <string>m.superior</string>
    <string>n.superior</string>
    <string>o.superior</string>
    <string>r.superior</string>
    <string>s.superior</string>
    <string>t.superior</string>
  </array>
  <key>sups3</key>
  <array>
    <string>dollar.superior</string>
    <string>parenleft.superior</string>
    <string>parenright.superior</string>
    <string>comma.superior</string>
    <string>hyphen.superior</string>
    <string>period.superior</string>
    <string>zero.superior</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>cent.superior</string>
  </array>
  <key>tnum1</key>
  <array>
    <string>zero.oldstyle</string>
    <string>one.oldstyle</string>
    <string>two.oldstyle</string>
    <string>three.oldstyle</string>
    <string>four.oldstyle</string>
    <string>five.oldstyle</string>
    <string>six.oldstyle</string>
    <string>seven.oldstyle</string>
    <string>eight.oldstyle</string>
    <string>nine.oldstyle</string>
    <string>dollar.oldstyle</string>
    <string>cent.oldstyle</string>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
    <string>Euro</string>
    <string>Euro.oldstyle</string>
  </array>
  <key>tnum2</key>
  <array>
    <string>zero.taboldstyle</string>
    <string>one.taboldstyle</string>
    <string>two.taboldstyle</string>
    <string>three.taboldstyle</string>
    <string>four.taboldstyle</string>
    <string>five.taboldstyle</string>
    <string>six.taboldstyle</string>
    <string>seven.taboldstyle</string>
    <string>eight.taboldstyle</string>
    <string>nine.taboldstyle</string>
    <string>dollar.taboldstyle</string>
    <string>cent.taboldstyle</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>Euro.fitted</string>
    <string>Euro.taboldstyle</string>
  </array>
</dict>
</plist>
